<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.CarMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Car" >
    <id column="carid" property="carid" jdbcType="INTEGER" />
    <result column="vid" property="vid" jdbcType="INTEGER" />
    <result column="totalmoney" property="totalmoney" jdbcType="DOUBLE" />
    <result column="totalnum" property="totalnum" jdbcType="INTEGER" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    carid, vid, totalmoney, totalnum, discount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.CarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car
    where carid = #{carid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where carid = #{carid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.CarExample" >
    delete from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyColumn="carid" keyProperty="carid" parameterType="com.accp.domain.Car" >
    insert into car (carid, vid, totalmoney, 
      totalnum, discount)
    values (#{carid,jdbcType=INTEGER}, #{vid,jdbcType=INTEGER}, #{totalmoney,jdbcType=DOUBLE}, 
      #{totalnum,jdbcType=INTEGER}, #{discount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carid != null" >
        carid,
      </if>
      <if test="vid != null" >
        vid,
      </if>
      <if test="totalmoney != null" >
        totalmoney,
      </if>
      <if test="totalnum != null" >
        totalnum,
      </if>
      <if test="discount != null" >
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carid != null" >
        #{carid,jdbcType=INTEGER},
      </if>
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null" >
        #{totalmoney,jdbcType=DOUBLE},
      </if>
      <if test="totalnum != null" >
        #{totalnum,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.CarExample" resultType="java.lang.Integer" >
    select count(*) from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update car
    <set >
      <if test="record.carid != null" >
        carid = #{record.carid,jdbcType=INTEGER},
      </if>
      <if test="record.vid != null" >
        vid = #{record.vid,jdbcType=INTEGER},
      </if>
      <if test="record.totalmoney != null" >
        totalmoney = #{record.totalmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.totalnum != null" >
        totalnum = #{record.totalnum,jdbcType=INTEGER},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update car
    set carid = #{record.carid,jdbcType=INTEGER},
      vid = #{record.vid,jdbcType=INTEGER},
      totalmoney = #{record.totalmoney,jdbcType=DOUBLE},
      totalnum = #{record.totalnum,jdbcType=INTEGER},
      discount = #{record.discount,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Car" >
    update car
    <set >
      <if test="vid != null" >
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null" >
        totalmoney = #{totalmoney,jdbcType=DOUBLE},
      </if>
      <if test="totalnum != null" >
        totalnum = #{totalnum,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DOUBLE},
      </if>
    </set>
    where carid = #{carid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Car" >
    update car
    set vid = #{vid,jdbcType=INTEGER},
      totalmoney = #{totalmoney,jdbcType=DOUBLE},
      totalnum = #{totalnum,jdbcType=INTEGER},
      discount = #{discount,jdbcType=DOUBLE}
    where carid = #{carid,jdbcType=INTEGER}
  </update>
</mapper>