<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PoweroneMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Powerone" >
    <id column="Jid" property="jid" jdbcType="INTEGER" />
    <result column="JurisdictionName" property="jurisdictionname" jdbcType="VARCHAR" />
    <result column="fatherid" property="fatherid" jdbcType="INTEGER" />
    <result column="menuid" property="menuid" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="coummt1" property="coummt1" jdbcType="VARCHAR" />
    <result column="coummt2" property="coummt2" jdbcType="VARCHAR" />
    <result column="coummt3" property="coummt3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Jid, JurisdictionName, fatherid, menuid, path, coummt1, coummt2, coummt3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PoweroneExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from powerone
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from powerone
    where Jid = #{jid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from powerone
    where Jid = #{jid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PoweroneExample" >
    delete from powerone
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Powerone" >
    insert into powerone (Jid, JurisdictionName, fatherid, 
      menuid, path, coummt1, 
      coummt2, coummt3)
    values (#{jid,jdbcType=INTEGER}, #{jurisdictionname,jdbcType=VARCHAR}, #{fatherid,jdbcType=INTEGER}, 
      #{menuid,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{coummt1,jdbcType=VARCHAR}, 
      #{coummt2,jdbcType=VARCHAR}, #{coummt3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Powerone" >
    insert into powerone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jid != null" >
        Jid,
      </if>
      <if test="jurisdictionname != null" >
        JurisdictionName,
      </if>
      <if test="fatherid != null" >
        fatherid,
      </if>
      <if test="menuid != null" >
        menuid,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="coummt1 != null" >
        coummt1,
      </if>
      <if test="coummt2 != null" >
        coummt2,
      </if>
      <if test="coummt3 != null" >
        coummt3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jid != null" >
        #{jid,jdbcType=INTEGER},
      </if>
      <if test="jurisdictionname != null" >
        #{jurisdictionname,jdbcType=VARCHAR},
      </if>
      <if test="fatherid != null" >
        #{fatherid,jdbcType=INTEGER},
      </if>
      <if test="menuid != null" >
        #{menuid,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="coummt1 != null" >
        #{coummt1,jdbcType=VARCHAR},
      </if>
      <if test="coummt2 != null" >
        #{coummt2,jdbcType=VARCHAR},
      </if>
      <if test="coummt3 != null" >
        #{coummt3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PoweroneExample" resultType="java.lang.Integer" >
    select count(*) from powerone
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update powerone
    <set >
      <if test="record.jid != null" >
        Jid = #{record.jid,jdbcType=INTEGER},
      </if>
      <if test="record.jurisdictionname != null" >
        JurisdictionName = #{record.jurisdictionname,jdbcType=VARCHAR},
      </if>
      <if test="record.fatherid != null" >
        fatherid = #{record.fatherid,jdbcType=INTEGER},
      </if>
      <if test="record.menuid != null" >
        menuid = #{record.menuid,jdbcType=INTEGER},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.coummt1 != null" >
        coummt1 = #{record.coummt1,jdbcType=VARCHAR},
      </if>
      <if test="record.coummt2 != null" >
        coummt2 = #{record.coummt2,jdbcType=VARCHAR},
      </if>
      <if test="record.coummt3 != null" >
        coummt3 = #{record.coummt3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update powerone
    set Jid = #{record.jid,jdbcType=INTEGER},
      JurisdictionName = #{record.jurisdictionname,jdbcType=VARCHAR},
      fatherid = #{record.fatherid,jdbcType=INTEGER},
      menuid = #{record.menuid,jdbcType=INTEGER},
      path = #{record.path,jdbcType=VARCHAR},
      coummt1 = #{record.coummt1,jdbcType=VARCHAR},
      coummt2 = #{record.coummt2,jdbcType=VARCHAR},
      coummt3 = #{record.coummt3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Powerone" >
    update powerone
    <set >
      <if test="jurisdictionname != null" >
        JurisdictionName = #{jurisdictionname,jdbcType=VARCHAR},
      </if>
      <if test="fatherid != null" >
        fatherid = #{fatherid,jdbcType=INTEGER},
      </if>
      <if test="menuid != null" >
        menuid = #{menuid,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="coummt1 != null" >
        coummt1 = #{coummt1,jdbcType=VARCHAR},
      </if>
      <if test="coummt2 != null" >
        coummt2 = #{coummt2,jdbcType=VARCHAR},
      </if>
      <if test="coummt3 != null" >
        coummt3 = #{coummt3,jdbcType=VARCHAR},
      </if>
    </set>
    where Jid = #{jid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Powerone" >
    update powerone
    set JurisdictionName = #{jurisdictionname,jdbcType=VARCHAR},
      fatherid = #{fatherid,jdbcType=INTEGER},
      menuid = #{menuid,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      coummt1 = #{coummt1,jdbcType=VARCHAR},
      coummt2 = #{coummt2,jdbcType=VARCHAR},
      coummt3 = #{coummt3,jdbcType=VARCHAR}
    where Jid = #{jid,jdbcType=INTEGER}
  </update>
</mapper>