<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.ProductinfoMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Productinfo" >
    <id column="proid" property="proid" jdbcType="INTEGER" />
    <result column="proName" property="proname" jdbcType="VARCHAR" />
    <result column="ProPrice" property="proprice" jdbcType="REAL" />
    <result column="prosaleType" property="prosaletype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    proid, proName, ProPrice, prosaleType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.ProductinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from productinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from productinfo
    where proid = #{proid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from productinfo
    where proid = #{proid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.ProductinfoExample" >
    delete from productinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Productinfo" >
    insert into productinfo (proid, proName, ProPrice, 
      prosaleType)
    values (#{proid,jdbcType=INTEGER}, #{proname,jdbcType=VARCHAR}, #{proprice,jdbcType=REAL}, 
      #{prosaletype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Productinfo" >
    insert into productinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proid != null" >
        proid,
      </if>
      <if test="proname != null" >
        proName,
      </if>
      <if test="proprice != null" >
        ProPrice,
      </if>
      <if test="prosaletype != null" >
        prosaleType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proid != null" >
        #{proid,jdbcType=INTEGER},
      </if>
      <if test="proname != null" >
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="proprice != null" >
        #{proprice,jdbcType=REAL},
      </if>
      <if test="prosaletype != null" >
        #{prosaletype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.ProductinfoExample" resultType="java.lang.Integer" >
    select count(*) from productinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update productinfo
    <set >
      <if test="record.proid != null" >
        proid = #{record.proid,jdbcType=INTEGER},
      </if>
      <if test="record.proname != null" >
        proName = #{record.proname,jdbcType=VARCHAR},
      </if>
      <if test="record.proprice != null" >
        ProPrice = #{record.proprice,jdbcType=REAL},
      </if>
      <if test="record.prosaletype != null" >
        prosaleType = #{record.prosaletype,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update productinfo
    set proid = #{record.proid,jdbcType=INTEGER},
      proName = #{record.proname,jdbcType=VARCHAR},
      ProPrice = #{record.proprice,jdbcType=REAL},
      prosaleType = #{record.prosaletype,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Productinfo" >
    update productinfo
    <set >
      <if test="proname != null" >
        proName = #{proname,jdbcType=VARCHAR},
      </if>
      <if test="proprice != null" >
        ProPrice = #{proprice,jdbcType=REAL},
      </if>
      <if test="prosaletype != null" >
        prosaleType = #{prosaletype,jdbcType=INTEGER},
      </if>
    </set>
    where proid = #{proid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Productinfo" >
    update productinfo
    set proName = #{proname,jdbcType=VARCHAR},
      ProPrice = #{proprice,jdbcType=REAL},
      prosaleType = #{prosaletype,jdbcType=INTEGER}
    where proid = #{proid,jdbcType=INTEGER}
  </update>
</mapper>