<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PruchasedetailsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Pruchasedetails" >
    <id column="prdid" property="prdid" jdbcType="INTEGER" />
    <result column="shh" property="shh" jdbcType="VARCHAR" />
    <result column="snumbe" property="snumbe" jdbcType="VARCHAR" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="sgg" property="sgg" jdbcType="VARCHAR" />
    <result column="scbprice" property="scbprice" jdbcType="REAL" />
    <result column="snum" property="snum" jdbcType="INTEGER" />
    <result column="sprice" property="sprice" jdbcType="REAL" />
    <result column="bz1" property="bz1" jdbcType="INTEGER" />
    <result column="bz2" property="bz2" jdbcType="VARCHAR" />
    <result column="bz3" property="bz3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    prdid, shh, snumbe, sname, sgg, scbprice, snum, sprice, bz1, bz2, bz3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PruchasedetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pruchasedetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pruchasedetails
    where prdid = #{prdid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pruchasedetails
    where prdid = #{prdid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PruchasedetailsExample" >
    delete from pruchasedetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Pruchasedetails" >
    insert into pruchasedetails (prdid, shh, snumbe, 
      sname, sgg, scbprice, 
      snum, sprice, bz1, bz2, 
      bz3)
    values (#{prdid,jdbcType=INTEGER}, #{shh,jdbcType=VARCHAR}, #{snumbe,jdbcType=VARCHAR}, 
      #{sname,jdbcType=VARCHAR}, #{sgg,jdbcType=VARCHAR}, #{scbprice,jdbcType=REAL}, 
      #{snum,jdbcType=INTEGER}, #{sprice,jdbcType=REAL}, #{bz1,jdbcType=INTEGER}, #{bz2,jdbcType=VARCHAR}, 
      #{bz3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Pruchasedetails" >
    insert into pruchasedetails
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prdid != null" >
        prdid,
      </if>
      <if test="shh != null" >
        shh,
      </if>
      <if test="snumbe != null" >
        snumbe,
      </if>
      <if test="sname != null" >
        sname,
      </if>
      <if test="sgg != null" >
        sgg,
      </if>
      <if test="scbprice != null" >
        scbprice,
      </if>
      <if test="snum != null" >
        snum,
      </if>
      <if test="sprice != null" >
        sprice,
      </if>
      <if test="bz1 != null" >
        bz1,
      </if>
      <if test="bz2 != null" >
        bz2,
      </if>
      <if test="bz3 != null" >
        bz3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prdid != null" >
        #{prdid,jdbcType=INTEGER},
      </if>
      <if test="shh != null" >
        #{shh,jdbcType=VARCHAR},
      </if>
      <if test="snumbe != null" >
        #{snumbe,jdbcType=VARCHAR},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sgg != null" >
        #{sgg,jdbcType=VARCHAR},
      </if>
      <if test="scbprice != null" >
        #{scbprice,jdbcType=REAL},
      </if>
      <if test="snum != null" >
        #{snum,jdbcType=INTEGER},
      </if>
      <if test="sprice != null" >
        #{sprice,jdbcType=REAL},
      </if>
      <if test="bz1 != null" >
        #{bz1,jdbcType=INTEGER},
      </if>
      <if test="bz2 != null" >
        #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        #{bz3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PruchasedetailsExample" resultType="java.lang.Integer" >
    select count(*) from pruchasedetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pruchasedetails
    <set >
      <if test="record.prdid != null" >
        prdid = #{record.prdid,jdbcType=INTEGER},
      </if>
      <if test="record.shh != null" >
        shh = #{record.shh,jdbcType=VARCHAR},
      </if>
      <if test="record.snumbe != null" >
        snumbe = #{record.snumbe,jdbcType=VARCHAR},
      </if>
      <if test="record.sname != null" >
        sname = #{record.sname,jdbcType=VARCHAR},
      </if>
      <if test="record.sgg != null" >
        sgg = #{record.sgg,jdbcType=VARCHAR},
      </if>
      <if test="record.scbprice != null" >
        scbprice = #{record.scbprice,jdbcType=REAL},
      </if>
      <if test="record.snum != null" >
        snum = #{record.snum,jdbcType=INTEGER},
      </if>
      <if test="record.sprice != null" >
        sprice = #{record.sprice,jdbcType=REAL},
      </if>
      <if test="record.bz1 != null" >
        bz1 = #{record.bz1,jdbcType=INTEGER},
      </if>
      <if test="record.bz2 != null" >
        bz2 = #{record.bz2,jdbcType=VARCHAR},
      </if>
      <if test="record.bz3 != null" >
        bz3 = #{record.bz3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pruchasedetails
    set prdid = #{record.prdid,jdbcType=INTEGER},
      shh = #{record.shh,jdbcType=VARCHAR},
      snumbe = #{record.snumbe,jdbcType=VARCHAR},
      sname = #{record.sname,jdbcType=VARCHAR},
      sgg = #{record.sgg,jdbcType=VARCHAR},
      scbprice = #{record.scbprice,jdbcType=REAL},
      snum = #{record.snum,jdbcType=INTEGER},
      sprice = #{record.sprice,jdbcType=REAL},
      bz1 = #{record.bz1,jdbcType=INTEGER},
      bz2 = #{record.bz2,jdbcType=VARCHAR},
      bz3 = #{record.bz3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Pruchasedetails" >
    update pruchasedetails
    <set >
      <if test="shh != null" >
        shh = #{shh,jdbcType=VARCHAR},
      </if>
      <if test="snumbe != null" >
        snumbe = #{snumbe,jdbcType=VARCHAR},
      </if>
      <if test="sname != null" >
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sgg != null" >
        sgg = #{sgg,jdbcType=VARCHAR},
      </if>
      <if test="scbprice != null" >
        scbprice = #{scbprice,jdbcType=REAL},
      </if>
      <if test="snum != null" >
        snum = #{snum,jdbcType=INTEGER},
      </if>
      <if test="sprice != null" >
        sprice = #{sprice,jdbcType=REAL},
      </if>
      <if test="bz1 != null" >
        bz1 = #{bz1,jdbcType=INTEGER},
      </if>
      <if test="bz2 != null" >
        bz2 = #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        bz3 = #{bz3,jdbcType=VARCHAR},
      </if>
    </set>
    where prdid = #{prdid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Pruchasedetails" >
    update pruchasedetails
    set shh = #{shh,jdbcType=VARCHAR},
      snumbe = #{snumbe,jdbcType=VARCHAR},
      sname = #{sname,jdbcType=VARCHAR},
      sgg = #{sgg,jdbcType=VARCHAR},
      scbprice = #{scbprice,jdbcType=REAL},
      snum = #{snum,jdbcType=INTEGER},
      sprice = #{sprice,jdbcType=REAL},
      bz1 = #{bz1,jdbcType=INTEGER},
      bz2 = #{bz2,jdbcType=VARCHAR},
      bz3 = #{bz3,jdbcType=VARCHAR}
    where prdid = #{prdid,jdbcType=INTEGER}
  </update>
</mapper>