<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Purchase" >
    <id column="purchaseid" property="purchaseid" jdbcType="INTEGER" />
    <result column="Userid" property="userid" jdbcType="INTEGER" />
    <result column="odd" property="odd" jdbcType="VARCHAR" />
    <result column="delivery time" property="deliveryTime" jdbcType="DATE" />
    <result column="SuId" property="suid" jdbcType="INTEGER" />
    <result column="Number" property="number" jdbcType="INTEGER" />
    <result column="Price" property="price" jdbcType="REAL" />
    <result column="shop" property="shop" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    purchaseid, Userid, odd, "delivery time", SuId, Number, Price, shop
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PurchaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from "purchase"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from "purchase"
    where purchaseid = #{purchaseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from "purchase"
    where purchaseid = #{purchaseid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PurchaseExample" >
    delete from "purchase"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Purchase" >
    insert into "purchase" (purchaseid, Userid, odd, 
      "delivery time", SuId, Number, 
      Price, shop)
    values (#{purchaseid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{odd,jdbcType=VARCHAR}, 
      #{deliveryTime,jdbcType=DATE}, #{suid,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, 
      #{price,jdbcType=REAL}, #{shop,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Purchase" >
    insert into "purchase"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purchaseid != null" >
        purchaseid,
      </if>
      <if test="userid != null" >
        Userid,
      </if>
      <if test="odd != null" >
        odd,
      </if>
      <if test="deliveryTime != null" >
        "delivery time",
      </if>
      <if test="suid != null" >
        SuId,
      </if>
      <if test="number != null" >
        Number,
      </if>
      <if test="price != null" >
        Price,
      </if>
      <if test="shop != null" >
        shop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purchaseid != null" >
        #{purchaseid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="odd != null" >
        #{odd,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=DATE},
      </if>
      <if test="suid != null" >
        #{suid,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="shop != null" >
        #{shop,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PurchaseExample" resultType="java.lang.Integer" >
    select count(*) from "purchase"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update "purchase"
    <set >
      <if test="record.purchaseid != null" >
        purchaseid = #{record.purchaseid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        Userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.odd != null" >
        odd = #{record.odd,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryTime != null" >
        "delivery time" = #{record.deliveryTime,jdbcType=DATE},
      </if>
      <if test="record.suid != null" >
        SuId = #{record.suid,jdbcType=INTEGER},
      </if>
      <if test="record.number != null" >
        Number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        Price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.shop != null" >
        shop = #{record.shop,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update "purchase"
    set purchaseid = #{record.purchaseid,jdbcType=INTEGER},
      Userid = #{record.userid,jdbcType=INTEGER},
      odd = #{record.odd,jdbcType=VARCHAR},
      "delivery time" = #{record.deliveryTime,jdbcType=DATE},
      SuId = #{record.suid,jdbcType=INTEGER},
      Number = #{record.number,jdbcType=INTEGER},
      Price = #{record.price,jdbcType=REAL},
      shop = #{record.shop,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Purchase" >
    update "purchase"
    <set >
      <if test="userid != null" >
        Userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="odd != null" >
        odd = #{odd,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        "delivery time" = #{deliveryTime,jdbcType=DATE},
      </if>
      <if test="suid != null" >
        SuId = #{suid,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        Number = #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=REAL},
      </if>
      <if test="shop != null" >
        shop = #{shop,jdbcType=VARCHAR},
      </if>
    </set>
    where purchaseid = #{purchaseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Purchase" >
    update "purchase"
    set Userid = #{userid,jdbcType=INTEGER},
      odd = #{odd,jdbcType=VARCHAR},
      "delivery time" = #{deliveryTime,jdbcType=DATE},
      SuId = #{suid,jdbcType=INTEGER},
      Number = #{number,jdbcType=INTEGER},
      Price = #{price,jdbcType=REAL},
      shop = #{shop,jdbcType=VARCHAR}
    where purchaseid = #{purchaseid,jdbcType=INTEGER}
  </update>
</mapper>