<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PurchasedetailsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Purchasedetails" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="purchaseid" property="purchaseid" jdbcType="INTEGER" />
    <result column="ltemno" property="ltemno" jdbcType="VARCHAR" />
    <result column="shapecode" property="shapecode" jdbcType="VARCHAR" />
    <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsphoto" property="goodsphoto" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="costprice" property="costprice" jdbcType="REAL" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, purchaseid, ltemno, shapecode, goodsname, goodsphoto, specification, costprice, 
    count, money
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PurchasedetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchasedetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchasedetails
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchasedetails
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PurchasedetailsExample" >
    delete from purchasedetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Purchasedetails" >
    insert into purchasedetails (Id, purchaseid, ltemno, 
      shapecode, goodsname, goodsphoto, 
      specification, costprice, count, 
      money)
    values (#{id,jdbcType=INTEGER}, #{purchaseid,jdbcType=INTEGER}, #{ltemno,jdbcType=VARCHAR}, 
      #{shapecode,jdbcType=VARCHAR}, #{goodsname,jdbcType=VARCHAR}, #{goodsphoto,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{costprice,jdbcType=REAL}, #{count,jdbcType=INTEGER}, 
      #{money,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Purchasedetails" >
    insert into purchasedetails
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="purchaseid != null" >
        purchaseid,
      </if>
      <if test="ltemno != null" >
        ltemno,
      </if>
      <if test="shapecode != null" >
        shapecode,
      </if>
      <if test="goodsname != null" >
        goodsname,
      </if>
      <if test="goodsphoto != null" >
        goodsphoto,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="costprice != null" >
        costprice,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="money != null" >
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="purchaseid != null" >
        #{purchaseid,jdbcType=INTEGER},
      </if>
      <if test="ltemno != null" >
        #{ltemno,jdbcType=VARCHAR},
      </if>
      <if test="shapecode != null" >
        #{shapecode,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsphoto != null" >
        #{goodsphoto,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="costprice != null" >
        #{costprice,jdbcType=REAL},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PurchasedetailsExample" resultType="java.lang.Integer" >
    select count(*) from purchasedetails
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purchasedetails
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseid != null" >
        purchaseid = #{record.purchaseid,jdbcType=INTEGER},
      </if>
      <if test="record.ltemno != null" >
        ltemno = #{record.ltemno,jdbcType=VARCHAR},
      </if>
      <if test="record.shapecode != null" >
        shapecode = #{record.shapecode,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsname != null" >
        goodsname = #{record.goodsname,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsphoto != null" >
        goodsphoto = #{record.goodsphoto,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null" >
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.costprice != null" >
        costprice = #{record.costprice,jdbcType=REAL},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purchasedetails
    set Id = #{record.id,jdbcType=INTEGER},
      purchaseid = #{record.purchaseid,jdbcType=INTEGER},
      ltemno = #{record.ltemno,jdbcType=VARCHAR},
      shapecode = #{record.shapecode,jdbcType=VARCHAR},
      goodsname = #{record.goodsname,jdbcType=VARCHAR},
      goodsphoto = #{record.goodsphoto,jdbcType=VARCHAR},
      specification = #{record.specification,jdbcType=VARCHAR},
      costprice = #{record.costprice,jdbcType=REAL},
      count = #{record.count,jdbcType=INTEGER},
      money = #{record.money,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Purchasedetails" >
    update purchasedetails
    <set >
      <if test="purchaseid != null" >
        purchaseid = #{purchaseid,jdbcType=INTEGER},
      </if>
      <if test="ltemno != null" >
        ltemno = #{ltemno,jdbcType=VARCHAR},
      </if>
      <if test="shapecode != null" >
        shapecode = #{shapecode,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsphoto != null" >
        goodsphoto = #{goodsphoto,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="costprice != null" >
        costprice = #{costprice,jdbcType=REAL},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Purchasedetails" >
    update purchasedetails
    set purchaseid = #{purchaseid,jdbcType=INTEGER},
      ltemno = #{ltemno,jdbcType=VARCHAR},
      shapecode = #{shapecode,jdbcType=VARCHAR},
      goodsname = #{goodsname,jdbcType=VARCHAR},
      goodsphoto = #{goodsphoto,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      costprice = #{costprice,jdbcType=REAL},
      count = #{count,jdbcType=INTEGER},
      money = #{money,jdbcType=REAL}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>