<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Purchase" >
    <id column="purid" property="purid" jdbcType="INTEGER" />
    <result column="purno" property="purno" jdbcType="VARCHAR" />
    <result column="purdata" property="purdata" jdbcType="DATE" />
    <result column="gysid" property="gysid" jdbcType="INTEGER" />
    <result column="staffid" property="staffid" jdbcType="INTEGER" />
    <result column="purtext" property="purtext" jdbcType="VARCHAR" />
    <result column="bz1" property="bz1" jdbcType="VARCHAR" />
    <result column="bz2" property="bz2" jdbcType="VARCHAR" />
    <result column="bz3" property="bz3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    purid, purno, purdata, gysid, staffid, purtext, bz1, bz2, bz3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PurchaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchase
    where purid = #{purid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchase
    where purid = #{purid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PurchaseExample" >
    delete from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="purid" keyColumn="purid" parameterType="com.accp.domain.Purchase" >
    insert into purchase (purid, purno, purdata, 
      gysid, staffid, purtext, 
      bz1, bz2, bz3)
    values (#{purid,jdbcType=INTEGER}, #{purno,jdbcType=VARCHAR}, #{purdata,jdbcType=DATE}, 
      #{gysid,jdbcType=INTEGER}, #{staffid,jdbcType=INTEGER}, #{purtext,jdbcType=VARCHAR}, 
      #{bz1,jdbcType=VARCHAR}, #{bz2,jdbcType=VARCHAR}, #{bz3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Purchase" >
    insert into purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purid != null" >
        purid,
      </if>
      <if test="purno != null" >
        purno,
      </if>
      <if test="purdata != null" >
        purdata,
      </if>
      <if test="gysid != null" >
        gysid,
      </if>
      <if test="staffid != null" >
        staffid,
      </if>
      <if test="purtext != null" >
        purtext,
      </if>
      <if test="bz1 != null" >
        bz1,
      </if>
      <if test="bz2 != null" >
        bz2,
      </if>
      <if test="bz3 != null" >
        bz3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purid != null" >
        #{purid,jdbcType=INTEGER},
      </if>
      <if test="purno != null" >
        #{purno,jdbcType=VARCHAR},
      </if>
      <if test="purdata != null" >
        #{purdata,jdbcType=DATE},
      </if>
      <if test="gysid != null" >
        #{gysid,jdbcType=INTEGER},
      </if>
      <if test="staffid != null" >
        #{staffid,jdbcType=INTEGER},
      </if>
      <if test="purtext != null" >
        #{purtext,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null" >
        #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        #{bz3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PurchaseExample" resultType="java.lang.Integer" >
    select count(*) from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purchase
    <set >
      <if test="record.purid != null" >
        purid = #{record.purid,jdbcType=INTEGER},
      </if>
      <if test="record.purno != null" >
        purno = #{record.purno,jdbcType=VARCHAR},
      </if>
      <if test="record.purdata != null" >
        purdata = #{record.purdata,jdbcType=DATE},
      </if>
      <if test="record.gysid != null" >
        gysid = #{record.gysid,jdbcType=INTEGER},
      </if>
      <if test="record.staffid != null" >
        staffid = #{record.staffid,jdbcType=INTEGER},
      </if>
      <if test="record.purtext != null" >
        purtext = #{record.purtext,jdbcType=VARCHAR},
      </if>
      <if test="record.bz1 != null" >
        bz1 = #{record.bz1,jdbcType=VARCHAR},
      </if>
      <if test="record.bz2 != null" >
        bz2 = #{record.bz2,jdbcType=VARCHAR},
      </if>
      <if test="record.bz3 != null" >
        bz3 = #{record.bz3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purchase
    set purid = #{record.purid,jdbcType=INTEGER},
      purno = #{record.purno,jdbcType=VARCHAR},
      purdata = #{record.purdata,jdbcType=DATE},
      gysid = #{record.gysid,jdbcType=INTEGER},
      staffid = #{record.staffid,jdbcType=INTEGER},
      purtext = #{record.purtext,jdbcType=VARCHAR},
      bz1 = #{record.bz1,jdbcType=VARCHAR},
      bz2 = #{record.bz2,jdbcType=VARCHAR},
      bz3 = #{record.bz3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Purchase" >
    update purchase
    <set >
      <if test="purno != null" >
        purno = #{purno,jdbcType=VARCHAR},
      </if>
      <if test="purdata != null" >
        purdata = #{purdata,jdbcType=DATE},
      </if>
      <if test="gysid != null" >
        gysid = #{gysid,jdbcType=INTEGER},
      </if>
      <if test="staffid != null" >
        staffid = #{staffid,jdbcType=INTEGER},
      </if>
      <if test="purtext != null" >
        purtext = #{purtext,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null" >
        bz1 = #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        bz2 = #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        bz3 = #{bz3,jdbcType=VARCHAR},
      </if>
    </set>
    where purid = #{purid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Purchase" >
    update purchase
    set purno = #{purno,jdbcType=VARCHAR},
      purdata = #{purdata,jdbcType=DATE},
      gysid = #{gysid,jdbcType=INTEGER},
      staffid = #{staffid,jdbcType=INTEGER},
      purtext = #{purtext,jdbcType=VARCHAR},
      bz1 = #{bz1,jdbcType=VARCHAR},
      bz2 = #{bz2,jdbcType=VARCHAR},
      bz3 = #{bz3,jdbcType=VARCHAR}
    where purid = #{purid,jdbcType=INTEGER}
  </update>
</mapper>