<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.VipMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Vip" >
    <id column="VID" property="vid" jdbcType="INTEGER" />
    <result column="Vtypeid" property="vtypeid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="Userid" property="userid" jdbcType="INTEGER" />
    <result column="Integral" property="integral" jdbcType="VARCHAR" />
    <result column="Transaction" property="transaction" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    VID, Vtypeid, code, Userid, Integral, Transaction
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.VipExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from "vip"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from "vip"
    where VID = #{vid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from "vip"
    where VID = #{vid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.VipExample" >
    delete from "vip"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Vip" >
    insert into "vip" (VID, Vtypeid, code, 
      Userid, Integral, Transaction
      )
    values (#{vid,jdbcType=INTEGER}, #{vtypeid,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{integral,jdbcType=VARCHAR}, #{transaction,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Vip" >
    insert into "vip"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        VID,
      </if>
      <if test="vtypeid != null" >
        Vtypeid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="userid != null" >
        Userid,
      </if>
      <if test="integral != null" >
        Integral,
      </if>
      <if test="transaction != null" >
        Transaction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="vtypeid != null" >
        #{vtypeid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=VARCHAR},
      </if>
      <if test="transaction != null" >
        #{transaction,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.VipExample" resultType="java.lang.Integer" >
    select count(*) from "vip"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update "vip"
    <set >
      <if test="record.vid != null" >
        VID = #{record.vid,jdbcType=INTEGER},
      </if>
      <if test="record.vtypeid != null" >
        Vtypeid = #{record.vtypeid,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        Userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.integral != null" >
        Integral = #{record.integral,jdbcType=VARCHAR},
      </if>
      <if test="record.transaction != null" >
        Transaction = #{record.transaction,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update "vip"
    set VID = #{record.vid,jdbcType=INTEGER},
      Vtypeid = #{record.vtypeid,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      Userid = #{record.userid,jdbcType=INTEGER},
      Integral = #{record.integral,jdbcType=VARCHAR},
      Transaction = #{record.transaction,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Vip" >
    update "vip"
    <set >
      <if test="vtypeid != null" >
        Vtypeid = #{vtypeid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        Userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="integral != null" >
        Integral = #{integral,jdbcType=VARCHAR},
      </if>
      <if test="transaction != null" >
        Transaction = #{transaction,jdbcType=INTEGER},
      </if>
    </set>
    where VID = #{vid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Vip" >
    update "vip"
    set Vtypeid = #{vtypeid,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      Userid = #{userid,jdbcType=INTEGER},
      Integral = #{integral,jdbcType=VARCHAR},
      Transaction = #{transaction,jdbcType=INTEGER}
    where VID = #{vid,jdbcType=INTEGER}
  </update>
</mapper>