<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户信息-日进斗金</title>

    <link rel="stylesheet" href="css/accountinfo.css">

</head>
<body>
    <div class="area-right">
        <!--main-->
        <div class="main-area clearfix">
            <!--头-->
            <div class="main-header">
                <span>账户信息</span>
            </div>
            <!--form-->
            <div class="bodyarea clearfix">
                <div class="textarea clearfix">
                    <!--头像-->
                    <div class="userimg">
                            <div class="hdimg">
                                <div class="imgd">
                                    <img src="" alt="" style="background:#666;">
                                </div>
                                <a href="javascript:;" class="upload">上传头像</a>  <!--上传头像按钮-->
                                <input type="file" name="file" class="uploaduserimg">
                            </div>
                    </div>
                    <!--信息修改form-->
                    <div class="updateuser">
                        <div class="list">
                            <p class="title">账户信息</p>
                        </div>
                        <div class="list">
                            <label>行业:</label>
                            <select class="form-control" style="float: left;width: 190px">
                                <option value="服饰">服饰</option>
                                <option value="餐饮">餐饮</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div class="list">
                            <label>账号:</label>
                            <input type="text" class="input-text" name="userid">
                        </div>
                        <div class="list">
                            <label>手机:</label>
                            <input type="text" class="input-text" name="phone">
                            <span>已经/未绑定</span>
                        </div>
                        <div class="list">
                            <label>密码:</label>
                            <input type="password" class="input-text" name="pwd">
                            <a class="btn btn-success" href="javascript:;" style="margin-left: 5px;">修改</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>