<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/editfcade.css">
</head>
<body>
<div class="rightarea clearfix">
    <div class="mainarea clearfix">
            <!--编辑页面-->
            <div class="new_mainarea" id="">
                <!--左边-->
                <div class="lefthead clearfix">
                    <div class="hdimgs">
                        <div class="pic">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="username clearfix">
                        <div style="margin-bottom:6px;">店铺简称：</div>
                        <input type="text" name="shopname" class="inputText shopname" id="shopname" value="" maxlength="32">
                        <i>*</i>
                        <div class="ligdiv">
                            3/16
                        </div>
                        <div class="deacripCont">
                            <textarea name="remark" cols="45" rows="5" class="description" id="remark" title="店铺简介" placeholder="店铺简介"></textarea>
                        </div>
                        <div class="ligdiv">
                            140/140
                        </div>
                    </div>
                </div>
                <!--右边-->
                <div class="right_edit">
                    <div class="new_eidt">
                        <em class="bg_icon"></em>
                        <p class="edit_head">编辑门店</p>
                        <div class="body">
                            <div class="lista list_title">店铺信息</div>
                            <div class="form_edit clearfix">
                                <div class="lista clearfix">
                                    <label for="" class="label">
                                        <span class="rela">
                                            <i>*</i>
                                            联系人
                                        </span>
                                    </label>
                                    <input type="text" class="inputTexts" >
                                </div>
                                <div class="lista clearfix">
                                    <label for="" class="label">
                                        <span class="rela">
                                            <i>*</i>
                                            手机
                                        </span>
                                    </label>
                                    <input type="text" class="inputTexts" >
                                </div>
                                <div class="lista clearfix ">
                                    <label for="" class="label">
                                        <span class="rela">
                                            固话
                                        </span>
                                    </label>
                                    <input type="text" class="inputTexts" >
                                </div>
                                <div class="lista clearfix">
                                    <label for="" class="label">
                                        <span class="rela">
                                          时间
                                        </span>
                                    </label>
                                    <select name="" id="" class="form-control" style="width: 150px;float: left;">
                                        <option value="">开始时间</option>
                                    </select>
                                    <span style="float:left;margin: 0 5px">-</span>
                                    <select name="" id="" class="form-control" style="width: 150px;float: left;">
                                        <option value="">结束时间</option>
                                    </select>
                                </div>
                                <div class="lista clearfix" style="width: 600px;">
                                    <label for="" class="label">
                                        <span class="rela">
                                          地址
                                        </span>
                                    </label>
                                    <select name="" id="" class="form-control" style="width: 150px;float: left;">
                                        <option value="">请选择省份</option>
                                    </select>
                                    <span style="float:left;margin: 0 5px">-</span>
                                    <select name="" id="" class="form-control" style="width: 150px;float: left;">
                                        <option value="">请选择城市</option>
                                    </select>
                                    <span style="float:left;margin: 0 5px">-</span>
                                    <select name="" id="" class="form-control" style="width: 150px;float: left;">
                                        <option value="">请选择地区</option>
                                    </select>
                                </div>
                                <div class="lista clearfix">
                                    <label for="" class="label">
                                        <span class="rela">
                                          &nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
                                    </label>
                                    <input type="text" class="inputTexts" placeholder="填写详细地址信息">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--按钮-->
                <div class="btn_foot">
                    <a href="javascript:;" class="btn btn-default">取消</a>
                    <a href="javascript:;" class="btn btn-success" style="color: #ffffff !important;">确定</a>
                </div>
            </div>
    </div>
</div>
</body>
</html>