<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/add_purchase.css">

</head>
<body>
    <!--新建采购单-->
    <div class="rightarea clearfix">
        <div class="mainarea clearfix">
            <div class="mainhead">
                <span class="title">编辑采购单</span>
                <div class="list search">
                    <input class="inputtext" type="text" placeholder="查找">
                    <a href="javascript:;" class="search-btn"></a>
                </div>
            </div>
            <div class="mainbody">
                <!--other-->
                <div class="otherinput clearfix">
                    <div class="listDivs">
                        <label for="">单号</label>
                        <input type="text" class="inputTextss form-control" >
                    </div>
                    <div class="listDivs">
                        <label for="">交期</label>
                        <input type="date" class="form-control" style="width: 204px;float: left;margin-right: 16px;">
                    </div>
                    <div class="listDivs">
                        <label for="">供应商</label>
                        <select type="date" class="form-control" style="width: 180px;float: left;">
                            <option value="">请选择供应商</option>
                        </select>
                    </div>
                    <div class="listDivs">
                        <label for="">制表人</label>
                        <select type="date" class="form-control" style="width: 180px;float: left;">
                            <option value="">12316564</option>
                        </select>
                    </div>
                    <div class="listDivs" style="margin-top: 10px;">
                        <label for="">备注</label>
                        <input type="text" class="form-control" style="width:971px !important; float:left;">
                    </div>
                </div>
                <!--end-->
                <div class="listarea clearfix" style="margin-top: 15px;">
                    <table class="settable table table-striped">
                        <thead>
                            <tr class="">
                                <th width="14%">货号</th>
                                <th width="14%">条码</th>
                                <th width="*">产品名称</th>
                                <th width="12%">规格</th>
                                <th width="10%">成本价</th>
                                <th width="10%">数量</th>
                                <th width="10%">金额</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>1
                            </td>
                            <td>1
                            </td>
                            <td >1
                            </td>
                            <td>1</td>
                            <td>
                                <input type="text" style="width: 80px;text-align: center;" class="form-control">
                            </td>
                            <td>1</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="">
                            <td colspan="7">

                                <div class="amoutDiv">
                                    <span>金额</span>
                                    <em class="">0.00</em>
                                </div>

                                <div class="totalNumDiv">
                                    <span>合计</span>
                                    <em class="">0</em>
                                    <span>件</span>
                                </div>

                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!--end-->
                <div class="btnarear" style="margin-top: 25px;">
                    <span style="float: left;color:#44b549;" data-target="#tanchuan"  data-toggle="modal" onclick="addShop()">+添加商品</span>
                    <a href="javascript:;" class="btn btn-default" style="width: 100px;">清空</a>
                    <a href="javascript:;" class="btn btn-success" style="width: 100px;color:#ffffff !important;">提交</a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    function addShop() {
        $(".modal-content").load("model/choiceShop.html");
    }
</script>
</body>
</html>