<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/employee_management.css">

</head>
<body>
<!--员工管理-->
<div class="rightarea clearfix">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">员工管理</span>
            <div class="searchArea">
                <div class="btn-div">
                    <span class="btn btn-success" onclick="addemployee()" data-target="#tanchuan"  data-toggle="modal">
                        添加员工
                    </span>
                </div>
            </div>
            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找">
                <a href="javascript:;" class="search-btn"></a>
            </div>
            <div class="list">
                <select name="" id="" class="form-control">
                    <option value="全部职位">全部职位</option>
                </select>

            </div>
            <div class="list">
                <select name="" id="" class="form-control">
                    <option value="全部店铺">全部店铺</option>
                </select>

            </div>
        </div>
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                <tr>
                    <th width="6%">序号</th>
                    <th width="*">所属店铺</th>
                    <th width="14%">职位</th>
                    <th width="14%">工号</th>
                    <th width="14%">姓名</th>
                    <th width="14%">登录密码</th>
                    <th width="12%">操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>
                            <span onclick="editmanagement()" data-target="#tanchuan"  data-toggle="modal">编辑</span>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>
                            <a href="javascript:;">编辑</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addemployee() {
        /*$(".modal-content").attr("id",id);*/
        $(".modal-content").load("model/addemployee.html");
    }
    function editmanagement() {
        /*$(".modal-content").attr("id",id);*/
        $(".modal-content").load("model/aditemployee.html");
    }
</script>
</body>
</html>