<!DOCTYPE html>
<html lang="en">
<!--首页-->
<head>
    <meta charset="UTF-8">
    <title>POS店铺管理系统,全新O2O平板收银系统-日进斗金收银软件</title>
    <!--引入样式-->
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
    <!--头部 -->
    <div class="header">
        <div class=" top">
            <!--logo-->
            <a href="javascript:;">
                <h2 class="logo" title="POS店铺管理系统,全新O2O平板收银系统-日进斗金收银软件"></h2>
            </a>
            <ul class="nav-menu clearfix">
                <li class="nav-items">
                    <a href="javascript:;"  class="home-link">
                        <span class="text">
                            <span class="text-title"></span>
                        </span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="javascript:;"  >
                        <span class="text">
                            <span class="text-title">实体店</span>
                        </span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="javascript:;"  >
                        <span class="text">
                            <span class="text-title">公众号</span>
                        </span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="javascript:;"  >
                        <span class="text">
                            <span class="text-title">微商城</span>
                        </span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="javascript:;" >
                        <span class="text">
                            <span class="text-title">商家社区</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="registerORlogin" >
                <a href="/index" target="_blank">登录</a>
                <a href="/index" target="_blank" class="register">注册</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align: center;">中间的内容辛苦一下组长了，哈哈哈哈哈哈</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    <div class="footer">
        <ul class="tails">
           <li class="tail_li">
               <p class="tail-title">帮助中心</p>
               <a class="title-content" target="_blank" href="javascript:;">常见问题</a>
               <a class="title-content" target="_blank" href="javascript:;">售后政策</a>
               <a class="title-content" target="_blank" href="javascript:;">视频教程</a>
           </li>
            <li class="tail_li">
                <p class="tail-title">关于我们</p>
                <a class="title-content" target="_blank" href="javascript:;">了解我们</a>
                <a class="title-content" target="_blank" href="javascript:;">加入我们</a>
                <a class="title-content" target="_blank" href="javascript:;">公司咨询</a>
            </li>
            <li class="tail_li">
                <p class="tail-title">服务支持</p>
                <a class="title-content" target="_blank" href="javascript:;">代理申请</a>
                <a class="title-content" target="_blank" href="javascript:;">在线购买</a>
                <a class="title-content" target="_blank" href="javascript:;">下载服务</a>
            </li>
            <li class="tail_li">
                <p class="tail-title">客户热线</p>
                <a class="title-content" target="_blank" href="javascript:;">客户热线</a>
                <span class="title-content date" target="_blank" href="javascript:;">周一至周五:  09:00-23:30</span>
                <span class="title-content date" target="_blank" href="javascript:;">周六至周日:  10:00-23:00</span>
            </li>
            <li class="tail_li">
                <a class="title-content" target="_blank" href="javascript:;" style="position: relative;top: -20px;">日进斗金收银软件</a>
                <img src="http://www.poso2o.com/style/img/er.jpg" alt="" >
                <span class="title-content" target="_blank" href="javascript:;">扫码关注</span>
            </li>
        </ul>
    </div>
</body>
</html>