<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/integer_set.css">

</head>
<body>
<div class="rightarea clearfix">
    <div class="mainarea clearfix">
        <div class="user_list_main clearfix">
            <div class="user_list_body clearfix">
                <div class="sub_title">积分设置</div>
                <a href="javascript:;" class="btnx" style="position: relative;top: -23px;">
                    <em class="x">开启</em>
                    <em class="xx">关闭</em>
                </a>
               <div class="integerarea">
                    <div class="list clearfix">
                        <div class="title">积分抵扣</div>
                        <div class="cont">
                            <label>使用积分</label>
                            <input type="text" class="form-control" style="width: 110px;float: left;margin: 0 5px ">
                            <label >可抵扣</label>
                            <span style="color: rgb(240, 91, 35); float: left; padding-left: 10px; padding-right: 10px; font-size: 16px; padding-top: 8px;">1.00</span>
                            <label >元</label>
                        </div>
                    </div>
                   <div class="clearfix"></div>
                   <div class="fr" style="margin-right: 100px">
                       <a href="javascript:;" class="btn btn-success" style="color: #fff !important;width: 100px;">确定</a>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>