<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/level_set.css">
</head>
<body>
<div class="rightarea clearfix" id="levelvue">
    <div class="mainarea clearfix">
        <div class="user_list_main clearfix">
            <div class="user_list_body clearfix">
                <div class="sub_title">等级设置</div>
                <div class="btn btn-success" onclick="addlevel()" data-target="#tanchuan"  data-toggle="modal" style="float: right;position: relative;top: -23px;">添加等级</div>
                <table class="clearfix settable">
                    <thead>
                        <tr>
                            <th width="10%">序号</th>
                            <th width="20%">会员等级</th>
                            <th width="20%">折扣</th>
                            <th width="*">升级规则</th>
                            <th width="10%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<template v-for="level,index in levls">
                    		<tr>
		                        <td>{{index+1}}</td>
		                        <td>{{level.vtname}}</td>
		                        <td>{{level.vtdiscount}}</td>
		                        <td>
		                        	<template v-if="level.vrule == 1">
		                        		--
		                        	</template>
		                        	<template v-if="level.vrule == 0">
		                        		自动升级
		                        	</template>
		                        </td>
		                        
		                        <td>
		                            <a href="javascript:;" @click="dellevel(level.vtid,level.vtname)">删除</a>
		                            <span @click="editlevel(level.vtid)" data-target="#tanchuan"  data-toggle="modal">修改</span>
		                        </td>
		                    </tr>
                    	</template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    var levelvue = new Vue({
    	el:"#levelvue",
    	data(){
    		return{
    			levls:[]
    		}
    	},methods:{
    		getlevels:function(){
    			$.ajax({
    				url:"[[@{/getlevels}]]", 
    				type:"post", 
    				success:function(res){
    					levelvue.levls =res;
    				}
    			})
    		},dellevel:function(vid,vname){
    			if(confirm("你是否要删除["+vname+"]")){
    				$.ajax({
    					url:"[[@{/dellevel}]]",  
    					type:"post", 
    					data:{
    						tid:vid
    					},success:function(res){
    						levelvue.getlevels();
    					}
    				});
    			}
    		},editlevel:function(vid) {
    	        $(".modal-content").load("model/aditlevel.html");
    	    	$(".modal-content").attr("id",vid);
    	    }
    	},created:function(){
    		this.getlevels();
    	}
    });
   
    function addlevel(vid){
        $(".modal-content").load("model/addlevel.html");
    }
    
</script>
</body>
</html>