<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/login.css">


</head>
<body>

<div class="login-body">
    <!--标题-->
    <div class="login-header">
        <!--注册联系客服链接-->
        <div class="register-right ">
            <span>如需注册，请联系客服  </span>
            <a href="javascript:;">
                <span></span>
            </a>
        </div>
        用户登录
    </div>
    <!--表单-->
    <div class="login-form">
        <div class="form-item">
            <input   type="text" placeholder="账号" name="username" maxlength="11"  class="form-control">
        </div>
        <div class="form-item">
            <input type="text" placeholder="密码" name="pwd"   class="form-control">
        </div>
        <div class="form-item code">
            <input type="text" placeholder="验证码" name="code" maxlength="11"  class="form-control">
            <div class="code-pane">验证码区域 <img src="" alt="" title="点击换一张"></div>
        </div>
        <div class="form-item">
            <a href="javascript:;" class="forgetpwd">忘记密码？</a>

            <input type="checkbox" class="checkbox">记住账号

        </div>
        <div class="form-item">
            <button class="btn btn-success" >登录</button>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>
</body>
</html>