<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/member_info.css">

</head>
<body>
    <!--会员信息-->
    <div class="rightarea clearfix">
        <div class="mainarea clearfix">
            <div class="mainhead">
                <span class="title">会员信息</span>
                <div class="searchArea">
                    <div class="btn-div">
                        <span class="btn btn-success" onclick="addmember()" data-target="#tanchuan"  data-toggle="modal">
                            添加会员
                        </span>
                    </div>
                </div>
                <div class="list">
                    <a href="javascript:;" class="btn btn-default">导出会员</a>
                    <a href="javascript:;" class="btn btn-default">批量导入</a>
                </div>
                <div class="list search">
                    <input class="inputtext" type="text" placeholder="查找">
                    <a href="javascript:;" class="search-btn"></a>
                </div>
                <div class="list">
                    <select name="" id="" class="form-control">
                        <option value="全部等级">全部等级</option>
                    </select>

                </div>
            </div>
            <div class="mainbody">
                <table class="settable table table-striped">
                    <thead>
                        <tr>
                            <th width="4%">序号</th>
                            <th width="*">姓名</th>
                            <th width="12%">手机</th>
                            <th width="14%">等级</th>
                            <th width="10%">成交次数</th>
                            <th width="10%">成交金额</th>
                            <th width="10%">余额</th>
                            <th width="10%">积分</th>
                            <th width="10%">最近成交</th>
                            <th width="6%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            1
                        </td>
                        <td class="nametd">
                           1
                        </td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>
                            <span onclick="editmember()" data-target="#tanchuan"  data-toggle="modal" >编辑</span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">合计</td>
                        <td class="total_num">&nbsp;</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    </tfoot>
                </table>
                <!--分页按钮-->
                <div class="pagebar">
                    <div class="pagetion">
                       <div class="page">
                               <ul class="pagination">
                                   <li>
                                       <a href="javascript:;">
                                           首页
                                       </a>
                                   </li>
                                   <li>
                                       <a href="javascript:;">
                                           &laquo;
                                       </a>
                                   </li>
                                   <li>
                                       <span style="font-size: 14px;">1/5</span>
                                   </li>
                                   <li>
                                       <a href="javascript:;">
                                           &raquo;
                                       </a>
                                   </li>
                                   <li>
                                       <a href="javascript:;">
                                           尾页
                                       </a>
                                   </li>
                                   <li style="margin-left: 20px; float:left;">
                                       <input type="text" class="form-control" style="width: 100px;">
                                   </li>
                                   <li style="margin-left: 15px; float:left;">
                                       <a href="javascript:;" class="btn btn-default">
                                           跳转
                                       </a>
                                   </li>
                               </ul>
                       </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
        <script type="text/javascript">
            function addmember() {
                /*$(".modal-content").attr("id",id);*/
                $(".modal-content").load("model/addmember.html");
            }
            function editmember() {
                /*$(".modal-content").attr("id",id);*/
                $(".modal-content").load("model/aditmember.html");
            }
    </script>
</body>
</html>