<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/purchase_list.css">

</head>
<body>
<div class="rightarea clearfix" id="contents">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">采购单</span>
            <div class="searchArea">
                <div class="btn-div">
                    <a href="javascript:;" class="btn btn-success" onclick="addpurchase()">
                       新建采购单
                    </a>
                </div>
            </div>

            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找" name="suname">
                <a href="javascript:;" class="search-btn" @click="getPage()"></a>
            </div>
            <div class="list">
                <select name="" id="" class="form-control" >
                    <option v-for="item,index in lists">{{item.suname}}</option>
                </select>
            </div>

            <div class="list">
                <input type="date" class="form-control">
            </div>
            <div class="list">
                -
            </div>
            <div class="list">
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                    <tr>
                        <th width="4%">序号</th>
                        <th width="6%">审核</th>
                        <th width="14%">采购单号</th>
                        <th width="10%">交货期</th>
                        <th width="16%">供应商</th>
                        <th width="6%">数量</th>
                        <th width="8%">金额</th>
                        <th width="*">备注</th>
                        <th width="12%">操作</th>
                    </tr>
                </thead>
                <tbody>
                 <tr v-for="stu,index in page.list">
                    <td>
                        {{index+1}}
                    </td>
                    <td>待审核
                    </td>
                    <td>{{stu.odd}}
                    </td>
                    <td >{{stu.deliveryTime}}
                    </td>
                    <td>{{stu.suname}}</td>
                    <td>{{stu.number}}</td>
                    <td>{{stu.price}}</td>
                    <td>{{stu.odd}}</td>
                    <td>
                        <a href="javascript:;" @click=del(stu.purchaseid)>删除</a>
                        <a href="javascript:;" @click="editpurchase(stu.purchaseid)">查看</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pageMenu">
			<span v-on:click="getPage(page.prePage)">上一页</span>
			<span v-for="numPage in page.pages">
				<span v-on:click="getPage(numPage)">{{numPage}}</span>
			</span>
			<span v-on:click="getPage(page.nextPage)">下一页</span>
			
		</div>
        </div>
    </div>
</div>
<script type="text/javascript">
var puichppvue=new Vue({
	el:"#contents",
	data:{
		lists:[],
		page:{
			list:[]
			
		}
	},
	methods:{
		 del:function(purchaseid,index){
				$.ajax({
					url:"/deletePushase",
					data:"purchaseid="+purchaseid,
					success:function(result){
							alert("删除成功");
							puichppvue.page.splice(index,1);
					}
				});
			},
		getPage:function(currentPage){
			var suname=$("[name='suname']").val();
			$.ajax({
				url:"/purchppqueryAll",
				data:{pageNum:currentPage,pageSize:1,suname:suname},
				success:function(result){
					puichppvue.page=result;
				}
			});
		},
		editpurchase:function(purchaseid){
			$(".modal-content").attr("purchaseid",purchaseid); 
			alert(purchaseid);
			go("shops","edit_purchase");
		}
	},
	created:function(){
		this.getPage(1);
		var that=this;
		$.ajax({
			url:"/queryByName",
			success:function(result){
				that.lists = result;
			}
		});
	}
});
    function addpurchase() {
        go("shops","add_purchase");
    }
    function editpurchase() {
        go("shops","edit_purchase");
    }
    function queryHang() {
        $(".modal-content").load("model/queryHang.html");
    }
</script>
</body>
</html>