<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/purchase_list.css">

</head>
<body>
<div class="rightarea clearfix">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">采购单</span>
            <div class="searchArea">
                <div class="btn-div">
                    <a href="javascript:;" class="btn btn-success" onclick="addpurchase()">
                       新建采购单
                    </a>
                </div>
            </div>

            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找">
                <a href="javascript:;" class="search-btn"></a>
            </div>
            <div class="list">
                <select name="" id="" class="form-control">
                    <option value="请选择城市">全部店铺</option>
                </select>
            </div>

            <div class="list">
                <input type="date" class="form-control">
            </div>
            <div class="list">
                -
            </div>
            <div class="list">
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                    <tr>
                        <th width="4%">序号</th>
                        <th width="6%">审核</th>
                        <th width="14%">采购单号</th>
                        <th width="10%">交货期</th>
                        <th width="16%">供应商</th>
                        <th width="6%">数量</th>
                        <th width="8%">金额</th>
                        <th width="*">备注</th>
                        <th width="12%">操作</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>1
                    </td>
                    <td>1
                    </td>
                    <td >1
                    </td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <a href="javascript:;">删除</a>
                        <a href="javascript:;" onclick="editpurchase()">编辑</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addpurchase() {
        go("shops","add_purchase");
    }
    function editpurchase() {
        go("shops","edit_purchase");
    }
    function queryHang() {
        $(".modal-content").load("model/queryHang.html");
    }
</script>
</body>
</html>