<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/purchase_list.css">

</head>
<body>
<div class="rightarea clearfix" id="contents">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">采购单</span>
            <div class="searchArea">
                <div class="btn-div">
                    <a href="javascript:;" class="btn btn-success" onclick="addpurchase()">
                       新建采购单
                    </a>
                </div>
            </div>

            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找" name="suname">
                <a href="javascript:;" class="search-btn" @click="getpurs()"></a>
            </div>
            <div class="list">
                <select name="" id="gys" class="form-control" > 
                	<template v-for="item,index in lists">
                    	<option  :value="item.suid">{{item.suname}}</option>
                    </template>
                </select>
            </div>

            <div class="list">
                <input type="date" class="form-control">
            </div>
            <div class="list">
                -
            </div>
            <div class="list">
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                    <tr>
                        <th width="6%">序号</th>
                        <th width="14%">采购单号</th>
                        <th width="10%">交货期</th>
                        <th width="16%">供应商</th>
                        <th width="6%">数量</th>
                        <th width="8%">金额</th>
                        <th width="*">备注</th>
                        <th width="12%">操作</th>
                    </tr>
                </thead>
                <tbody>
                 <tr v-for="stu,index in page.list">
                    <td>
                        {{index+1}}
                    </td>
                    <td>{{stu.purno}}
                    </td>
                    <td >{{stu.purdata}}
                    </td>
                    <td>{{stu.sp.suname}}</td>
                    <td>{{stu.bz1}}</td>
                    <td>{{stu.bz2}}</td>
                    <td>{{stu.purtext}}</td>
                    <td>
                        <a href="javascript:;" v-on:click="delpur(stu.purid)">删除</a>
                        <a href="javascript:;" v-on:click="editpurchase(stu.purid)">查看</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pageMenu">
			<span v-on:click="getpurs(page.prePage)">上一页</span>
			<span v-for="numPage in page.pages">
				<span v-on:click="getpurs(numPage)">{{numPage}}</span>
			</span>
			<span v-on:click="getpurs(page.nextPage)">下一页</span>
			
		</div>
        </div>
    </div>
</div>
<script type="text/javascript">
var puichppvue=new Vue({
	el:"#contents",
	data:{
		lists:[],
		page:{ 
			list:[]
		}
	},
	methods:{
		getpurs:function(pagenum){
			$.ajax({
				url:"/getpurs", 
				type:"post",
				data:{
					pagenum:pagenum,
					"startDate":$("[type=\"date\"]").eq(0).val(),
					"endDate":$("[type=\"date\"]").eq(1).val(),
					"gysid":$("#gys").val(),
					"bz":$("[name=\"suname\"]").val()
				},

				success:function(res){
					puichppvue.page = res; 
/* 					alert(JSON.stringify(puichppvue.page.list))
 */				}
			});
			
		},editpurchase:function(prid){
			$(".modal-content").attr("purid",prid);
			go("shops","edit_purchase");
		},delpur:function (prid){
            if(confirm("您是否要执行删除操作？")){
                $.ajax({
                    url:"/delpur",
                    data:{prid:prid},
                    type:"post",
                    success:function(res){
                        go("shops","purchase_list");
                    }
                })
            }
        }
	},
	created:function(){
		this.getpurs();
		$.ajax({
			url:"/queryByName",
			success:function(result){
				puichppvue.lists = result;
			} 
		});
	}
});
    function addpurchase() {
        go("shops","edit_purchase");
    }
    function queryHang() {
        $(".modal-content").load("model/queryHang.html");
    }
</script>
</body>
</html>