<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/recharge_deduction.css">

</head>
<body>
<!--充值抵扣-->
<div class="rightarea clearfix">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">充值抵扣</span>
            <div class="searchArea">
                <div class="btn-div">
                    <a href="javascript:;" class="btn btn-success">
                        充值
                    </a>
                </div>
            </div>

            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找">
                <a href="javascript:;" class="search-btn"></a>
            </div>
            <div class="list">
                <input type="date" class="form-control">
            </div>
            <div class="list">
                -
            </div>
            <div class="list">
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                    <tr>
                        <th width="4%">序号</th>
                        <th width="14%">时间</th>
                        <th width="9%">微信号</th>
                        <th width="*">姓名</th>
                        <th width="9%">手机</th>
                        <th width="8%">充值</th>
                        <th width="8%">赠送</th>
                        <th width="8%">消费</th>
                        <th width="8%">余额</th>
                        <th width="20%">备注</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>1
                    </td>
                    <td>1
                    </td>
                    <td >1
                    </td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">合计</td>
                    <td class="total_add_amounts">0.00</td>
                    <td class="zengsong_amount">0.00</td>
                    <td class="total_del_amounts">0.00</td>
                    <td class="total_amounts">-</td>
                    <td>-</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
</html>