<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/shop_managerment.css">
</head>
<body>
<div class="rightarea clearfix" id="contents">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">商品管理</span>
            <div class="searchArea">
                <div class="btn-div">
                    <span onclick="addshop_management()"  class="btn btn-success">
                        商品上传
                    </span>
                </div>
            </div>
            <div class="list">
                <a href="javascript:;" class="btn btn-default">导出商品</a>
                <a href="javascript:;" class="btn btn-default">批量导入</a>
            </div>
            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找">
                <a href="javascript:;" class="search-btn"></a>
            </div>
            <div class="list">
                <select name="" id="" class="form-control">
                    <option value="全部职位">类别</option>
                </select>

            </div>
            <div class="list">
                <select name="" id="" class="form-control">
                    <option value="全部店铺">员工</option>
                </select>
            </div>
        </div>
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                <tr>
                    <th width="4%">选择</th>
                    <th width="4%">序号</th>
                    <th width="10%">类别</th>
                    <th width="*">品名</th>
                    <th width="10%">货号/条码</th>
                    <th width="10%">规格</th>
                    <th width="9%">库存</th>
                    <th width="9%">销售价</th>
                    <th width="9%">成本价</th>
                    <th width="6%">网店同步</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody id="tb">
                    <tr v-for="stu,index in page.list">
                        <td>
                            <input type="checkbox" v-model="stu.checked">
                        </td>
                        <td>
                            {{index+1}}
                        </td>
                        <td>
                            {{stu.proname}}
                        </td>	
                        <td class="nametd">
                            <div class="namediv">
                                <img src="/images/home/1.jpeg" alt="图片" style="width: 30px;height: 30px;">
                                <p>{{stu.goodname}}</p>
                            </div>
                        </td>
                        <td>{{stu.pronumber}}</td>
                        <td>{{stu.color}},{{stu.size}}</td>
                        <td>{{stu.prostock}}</td>
                        <td>{{stu.sellingprice}}</td>
                       <td>{{stu.costprice}}</td>
                        <td>1</td>
                        <td>
                            <a @click="del(stu.proid)" href="javascript:;">删除</a>
                            <span onclick="editshop_management()" class="tb">编辑</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pageMenu">
			<span v-on:click="getPage(page.prePage)">上一页</span>
			<span v-for="numPage in page.pages">
				<span v-on:click="getPage(numPage)">{{numPage}}</span>
			</span>
			<span v-on:click="getPage(page.nextPage)">下一页</span>
			
		</div>
        </div>
    </div>
</div>
<script type="text/javascript">
var provue=new Vue({
	el:"#contents",
	data:{
		page:{
			list:[]
		}
	},
	methods:{
		 del:function(proid,index){
				$.ajax({
					url:"/deleteproducinfo",
					data:"proid="+proid,
					success:function(result){
							alert("删除成功");
							provue.list.splice(index,1);
					}
				});
			},
		getPage:function(currentPage){
			$.ajax({
				url:"/proqueryAll",
				data:{pageNum:currentPage,pageSize:1},
				success:function(result){
					provue.page=result;
				}
			});
		},
	},
	created:function(){
		this.getPage(1);
	}
});
    function addshop_management() {
        /*$(".modal-content").attr("id",id);*/
        go("shops","shop_upload");
    }
    function editshop_management() {
        go("shops","shop_upload");
    }
</script>
</body>
</html>