<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/shop_upload.css">
    <script src="js/wangEditor.js"></script>
     <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
        ul {
            list-style: none;
        }
        .container {
            width: 397px;
            margin: 0 auto;
            text-align: center;
        }
        .magnifierContainer {
            display: flex;
            margin-top: 30px;
        }
        .magnifierContainer img{
        	width:100%;
        	height:100%;
        }
        .imgMedium {
            position: relative;
        }
        .imgLeft .magnifier {
            position: absolute;
            display: none;
            width: 200px;
            height: 200px;
        }
        .mediumContainer {
            width: 350px;
            height: 350px;
            border: 1px solid #eee;
            overflow: hidden;
        }
        #zhezhao {
            width: 350px;
            height: 350px;
            background: transparent;
            position: absolute;
            top: 0;
            border: 1px solid transparent;
        }
        #zhezhao:hover {
            cursor: move;
        }
        .img_x {
            width: 350px;
            height: 70px;
            border: 1px solid #eee;
            margin-top: 20px;
            display: flex;
        }
        .img_x li{
           /*  width: 54px;
            height: 54px; */
            border: 2px solid transparent;
            margin: 8px 4px;
            padding: 2px;
        }
        .img_u {
            width: 500px;
            height: 450px;
            border: 1px solid #eee;
            float: left;
            margin-left: 15px;
            overflow: hidden;
            display:none;
           	position:relative;
            z-index:999;
        }
    </style>
</head>
<body>
<div class="rightarea clearfix" id="shoploaddiv">
    <div class="mainarea clearfix">
        <div class="mainhead clearfix">
            <span class="title">商品上传</span>
        </div>
        <div class="mainbody clearfix">
                <!--上传开始-->
                <div class="uploadproduct clearfix">
                    <div class="rightdiv">
                        <div class="ptype">
                            <div class="listdiv">
                                <span>
                                    <i>*</i>
                                    商品货号
                                </span>
                                <input type="text" class="inputtext" v-model="shop.shh">
                                <!-- <span>
                                    商品品牌
                                </span>
                                <input type="text" class="inputtext" > -->
                            </div>
                            <!---->
                            <div class="listdiv">
                                <span>
                                    <i>*</i>
                                    商品名称
                                </span>
                                <input type="text" class="inputtext" style="width: 398px;" v-model="shop.sname">
                            </div>
                            <!---->
                            <div class="listdiv">
                                <span>
                                    <i>*</i>
                                    吊牌价格
                                </span>
                                <input type="text" class="inputtext" v-model="shop.sdpprice">
                                <span>
                                    <i>*</i>
                                    成本价格
                                </span>
                                <input type="text" class="inputtext" v-model="shop.scbprice">
                            </div>
                            <!---->
                            <div class="listdiv">
                                <span>
                                    <i>*</i>
                                    吊牌类别
                                </span>
                                <select name="" id="splx" class="form-control" style="float:left;width: 168px;">
                                	<option value="请选择类别" >请选择类别</option>
                                	<template v-for="type in types">
                                    	<option :value="type.goodid" >{{type.goodname}}</option>
                                    </template> 
                                </select> 
                            </div>
                            <!---->
                            <div class="listdiv">
                                 <span>
                                    <i>*</i>
                                    商品颜色
                                </span>
                                <!--固定颜色需选择-->
                                 <div class="colorchoice">
                                    <table class="colorstable">
                                        <colgroup>
                                            <col width="25%">
                                            <col width="25%">
                                            <col width="25%">
                                            <col width="25%">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th>黑色系</th>
                                            <th>白色系</th>
                                            <th>红色系</th>
                                            <th>蓝色系</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul class="listcolor">
                                                    <li c="color-000000">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg color-000000"></span>
                                                                黑色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="color-666666">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg color-666666"></span>
                                                                深灰色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="color-e4e4e4">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg color-e4e4e4"></span>
                                                                浅灰色
                                                            </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="listcolor">
                                                    <li c="color-fff">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg color-fff"></span>
                                                                白色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="color-transparent">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg color-transparent"></span>
                                                                透明
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="color-assortment">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg color-assortment"></span>
                                                                花色
                                                            </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="listcolor">
                                                    <li c="color-990000">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg color-990000"></span>
                                                                酒红色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="color-ff0000">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg color-ff0000"></span>
                                                                红色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="c-ffb6c1">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-ffb6c1"></span>
                                                                粉红色
                                                            </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="listcolor">
                                                    <li c="c-041690">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-041690"></span>
                                                                深蓝色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="c-0000ff">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-0000ff"></span>
                                                                蓝色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li  c="c-1eddff">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-1eddff"></span>
                                                                天蓝色
                                                            </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="colorstable">
                                        <colgroup>
                                            <col width="25%">
                                            <col width="25%">
                                            <col width="25%">
                                            <col width="25%">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th>黄色系</th>
                                            <th>绿色系</th>
                                            <th>紫色系</th>
                                            <th>其他色系</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul class="listcolor">
                                                    <li c="c-ffa500">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-ffa500"></span>
                                                                桔色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="c-ffff00">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-ffff00"></span>
                                                                黄色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="c-ffffb1">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-ffffb1"></span>
                                                                浅黄色
                                                            </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="listcolor">
                                                    <li c="c-5d762a">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-5d762a"></span>
                                                                军绿色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="c-008000">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-008000"></span>
                                                                绿色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="c-98fb98">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-98fb98"></span>
                                                                浅绿色
                                                            </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="listcolor">
                                                    <li c="c-4b0082">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-4b0082"></span>
                                                                深紫色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="c-800080">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-800080"></span>
                                                                紫色
                                                            </label>
                                                        </a>
                                                    </li>  
                                                    <li c="c-dda0dd">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-dda0dd" ></span>
                                                                紫罗兰
                                                            </label>
                                                        </a> 
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="listcolor">
                                                    <li c="c-bdb76b">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-bdb76b"></span>
                                                                深卡其
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="c-855b00">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-855b00"></span>
                                                                褐色
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li c="c-d2691e">
                                                        <input type="checkbox" class="checkbox" value="黑色">
                                                        <a href="javascript:;">
                                                            <label for="" class="color">
                                                                <span class="colorImg c-d2691e"></span>
                                                                巧克力
                                                            </label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="colorstable" id="colorstable">
                                        <colgroup>
                                            <col width="25%">
                                            <col width="25%">
                                            <col width="25%">
                                            <col width="25%">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th>颜色名称</th>
                                           <!--  <th>颜色图片</th> -->
                                        </tr>
                                      
                                        </tbody>
                                    </table>
                                    <!--添加颜色的按钮-->
                                    <a href="javascript:;" class="addColorBtn">+添加颜色</a>
                                </div>
                            </div>
                            <!---->
                            <div class="listdiv">
                                  <span>
                                    <i>*</i>
                                   商品尺码
                                </span>
                                <div class="fdcolor clearfix">
                                    <ul id="cm">
                                    	<template v-for="size1,index in sizes">
                                    		<li :cc = "size1.size" >
                                            	<a onclick="chcm(this)" on="0" :xl="size1.id" href="javascript:;">{{size1.size}}</a>
                                        	</li>
                                    	</template>
                                    </ul>
                                    <!--编辑尺寸的按钮-->
                                    <a href="javascript:;" class="editSizeBtn" bj="0" >编辑尺寸</a>
                                </div> 
                                <!--编辑--> 
                                <div class="editcolor clearfix">
                                    <ul>       
                                    	<template v-for="size2,index in newsizes">
	                                        <li :key="size2.id">
	                                            <input type="text"  v-model="size2.size">
	                                            <a href="javascript:;" class="delcm" @click="delcc(size2,index)"></a>
	                                        </li>
                                        </template>
                                         <li id="addcc">
                                            <a href="javascript:;" class="btn btn-default" @click="addcc">添加尺寸</a>
                                        </li>
                                    </ul>
                                    <!--编辑尺寸的按钮-->
                                    <div class="fr clearfix">
                                        <a href="javascript:;" class="btn btn-default" bj="0" @click="qxfbsize">取消</a>
                                        <a href="javascript:;" class="btn btn-success" bj="0" style="color: #fff !important;" @click="fbsize">确定</a>
                                    </div>
                                </div>
                               
                            </div>
                            <!---->
                            <div class="listdiv" >
                                 <span>
                                    <i>*</i>
                                    库存总数
                                </span>
                                <input type="text" class="inputtext totalnum"  style="width: 124px;" v-model="shop.kc">
                                <label style="color: rgb(240, 91, 35); float: left; padding-left: 8px; line-height: 36px;">请勿随意修改库存，以免影响库存准确性</label>
                                <table class="colorstable" id="xztable">
                                    <colgroup>
                                        <col width="40%">
                                        <col width="20%">
                                        <col width="40%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>规格</th>
                                            <th>数量</th>
                                            <th>条形码</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<template v-for="shopd in shop.shopd">
                                        <tr>
                                            <td>
                                            	<template v-if="shopd.scolor != null">
                                            		{{shopd.scolor}}
                                            	</template>
                                            	/
                                            	<template v-if="shopd.scc != null">
                                            		{{shopd.scc}}
                                            	</template>
                                            </td>
                                            <td><input @change="jskc" style="width:101px;text-align:center;" type='text' v-model='shopd.snum'></td>
                                            <td><input style="width:203px;text-align:center;" type='text' v-model='shopd.snumbe'></td>
                       
                                        </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <!---->
                        </div>
                    </div>
                    <!--infoend-->
                    <!--上传图片  放大-->
                    <div class="productshow clearfix">
		              <div class="container">
						    <div class="magnifierContainer">
						        <div class="imgLeft">
						            <!-- 中号图片 -->
						            <div class="imgMedium" id="imgMedium">
						                <!-- 放大镜 -->
						                <div class="magnifier" id="magnifier">
						                    <img src="http://product.dangdang.com/images/zoom_pup.png">
						                </div>
						                <!-- 图片 -->
						                <div class="mediumContainer" id="mediumContainer">
						                    <img :src="imgs[0]">	
						                </div>
						                <div id="zhezhao"></div>
						            </div>
						
						            <!-- 缩略图 -->
						            <ul class="img_x thumb" id="img_x">
										<input type="hidden" v-model="shop.goodimg">
										<template v-for="img in imgs">
											<li onmouseenter="mouse(this)">
												<img alt="图片"  :src="img">
											</li>
										</template> 
						                <li id="addimg"> 
                                            <input type="file" class="uploadimg">
                                            <a  class="imgd" href="javascript:;">
                                                <img src="images/storeindex/add_ico.png"   alt="">
                                            </a>
                                        </li>
						            </ul>
						        </div>
						        <div class="imgRight">
						            <!-- 大图 -->
						            <div class="img_u" id="img_u">
						                <img :src="imgs[0]">
						            </div>
						        </div>
						    </div>
						</div>
                    </div>
                    <!--富文本编辑器 保存商品信息-->
                    <div class="editPanel clearfix">
                        <p class="title">商品信息</p>
                        <div id="editwang"></div>
                        <!--按钮-->
                        <div class="btn-close-insert">
                            <a href="javascript:;" class="btn btn-default" @click="qxfbsp">取消发布</a>
                            <a href="javascript:;" class="btn btn-success" style="color: #ffffff !important;" @click="fbsp">发布商品</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript">

	var shoploadVue = new Vue({
		el:"#shoploaddiv",
		data:{
				newsizes:[],
				sizes:[],
				shop:{   //商品主表   Q:两个不同的数组，指向同一个引用地址 造成了影响
					shopd:[]  //商品从表
				}, 
				types:[],  
				imgs:[]
		},methods:{  
			getSize:function(){  //获取尺寸
				$.post("/getSize",{},function(res){
					shoploadVue.sizes = res;
					shoploadVue.newsizes =JSON.parse(JSON.stringify(res));  
					let nums = [];
					 $("#cm li a").filter((i,e) => {  //得到选中的尺寸
			            if($(e).attr("on")  === "1"){
			                nums.push($(e).attr("xl"));
			            }
			     	}); 
					 $(".fdcolor:nth-child(2)").show();
			         $(".editcolor").hide();   
			         $("#cm li a").css("border","1px solid #e2e1e3");
			         $("#cm li a").attr("on","0");
			          nums.forEach(e=>{  //循环判断，拿现在的数据和之前的对比 
			        	  shoploadVue.sizes.forEach((ie,ee)=>{
			        	    	if(ie.id == e){
			        	    		$("[xl="+e+"]").css("border","1px solid orange");
			        	    		$("[xl="+e+"]").attr("on","1")
			        	    	}
			        	    })
			          }); 
			          changeTable(); 
				});
			},delcc:function(size2,index){   //删除尺寸  
				shoploadVue.newsizes.splice(index,1); 
			},addcc:function(){  //增加尺寸   
				shoploadVue.newsizes.push({"":"","":""});
			},qxfbsize:function(){   //取消发布size
				shoploadVue.newsizes =JSON.parse( JSON.stringify(shoploadVue.sizes));  				
				 $(".fdcolor:nth-child(2)").show();
		         $(".editcolor").hide();   
			},fbsize:function(){   //发布size 
				//将新的sizes传过去  进行增加和修改 
				$.ajax({
					url:"/addsize", 
					data:JSON.stringify(shoploadVue.newsizes),  
					type:"post",  
					contentType:"application/json;charset=utf-8", 
					success:function(res){
						shoploadVue.getSize();    
					} 
				});
			},getType:function(){
				$.post("/getgType",{},function(res){
					shoploadVue.types = res;
				});
			},jskc:function(){
				let total = 0 ; 
		   		$("#xztable tr:not(tr:first)").each((i,e)=>{
		   			total = total + parseInt($(e).find("td").eq(1).find("input").val()); 
		   		});  
		   		$(".totalnum").val(total); 
			},fbsp:function(){
				let im = ""; 
				shoploadVue.imgs.forEach(i=>{
					if(im == ""){
						im = i ;
					}else{
						im = im +","+i;
					}
				});
				shoploadVue.shop.goodid = $("#splx").val();
				shoploadVue.shop.goodimg = im ;
                shoploadVue.shop.bz1 = $(".modal-content").attr("stoid");
				let scolor = "";  
				$("#colorstable tr:not(tr:first)").each((i,e)=>{
					if(scolor == ""){
						scolor = $(e).find("td input").val(); 
					}else{
						scolor = scolor+","+$(e).find("td input").val(); 
					}
				})
				shoploadVue.shop.scolor = scolor;  
				let ccss =""; 
				let ccs = $("#cm li a").filter((i,e) => {  //得到选中的尺寸
		            if($(e).attr("on")   === "1"){
		                return e;
		            }
		        });
				ccs.each((i,e)=>{
					if(ccss == ""){
						ccss = $(e).text(); 
					}else{
						ccss = ccss+","+$(e).text(); 
					}
				});
				shoploadVue.shop.scc = ccss;  
				//传送  
				$.ajax({
					url:"/addshop", 
					type:"post",  
					contentType:"application/json;charset=utf-8",  
					data:JSON.stringify(shoploadVue.shop),  
					success:function(res){
						alert("商品发布成功！");
						$(".modal-content").removeAttr("sid");
						go("shops","shop_managerment");
					}
				});
			},getDshop:function(sid){ 
				$.ajax({
					url:"/getDshop", 
					data:{sid:sid},  
					success:function(res){
						shoploadVue.shop = res;  
						$("#splx option").each((i,e)=>{
							if($(e).attr("value") == shoploadVue.shop.good.goodid){
								$(e).attr("selected","true");
							}
						});  //绑定商品类型 
						//创建选中颜色table  
						let colors = shoploadVue.shop.scolor.split(","); 
						$("#colorstable").show();
						colors.forEach((i,e)=>{
							let tr = $(`<tr >
			                        <td>
			                            <span style="width: 25px;">1</span>
			                            <span class="color_object" style="background: #fff;"></span>
			                            <input type="text" class="fl srys" placeholder="请输入颜色" onchange="changeTable()" style="" value="${i}">
			                            <a href="javascript:;" class ="clo"  onclick="clo(this)" style="">X</a>
			                        </td>
			                        
			                </tr>`);
			        		$("#colorstable tbody").append(tr);
						});
						let c = shoploadVue.shop.scc.split(","); 
						c.forEach(i=>{ 
							$("#cm li").each((ie,e)=>{
								if($(e).attr("cc") == i){
									 $(e).find("a").css("border","1px solid orange");
							         $(e).find("a").attr("on","1"); 
								}
							}) 
						});  
						shoploadVue.imgs = shoploadVue.shop.goodimg.split(",");
					}
				});
			},qxfbsp:function(){
				$(".modal-content").removeAttr("sid");
				go("shops","shop_managerment");
			}
		},created:function(){
			this.getSize();  //获取尺寸 
			this.getType();  //获取商品类别 
			//商品单个查询 
			let sid = $(".modal-content").attr("sid");
			if(!isNaN(sid)){
				/* 商品查询 */
				this.getDshop(sid);
			}
		}
	});
	
	 /*删除元素*/ 
    function clo(th) {
        let c = $(th).attr("color");
        if(c != "" && c != null){
            $("[c=\""+c+"\"]").find("input:checkbox").removeAttr("checked");
        }
        $(th).parent().parent().remove();
        changeTable();
    }
    /*选中尺码*/ 
    function chcm(th) {
        if($(th).attr("on")  === "0"){
            $(th).css("border","1px solid orange");
            $(th).attr("on","1")
        } else if($(th).attr("on")  === "1"){
            $(th).css("border","1px solid #e2e1e3");
            $(th).attr("on","0")
        }
        changeTable(); 
    }
    /*点击编辑尺码*/
    $(".editSizeBtn").click(function () {
            $(".fdcolor:nth-child(2)").hide();
            $(".editcolor").show();
    });
   
     
    
    function changeTable() {
        /**
         * 1. 得到选中的颜色   得到选中的尺寸
         * 2.  循环 颜色 再内循环 尺寸
         * 3. 内循环中创建element
         */
        let colors = $("#colorstable tbody tr:not(tr:first)");   //得到选中的颜色
        let ccs = $("#cm li a").filter((i,e) => {  //得到选中的尺寸
            if($(e).attr("on")   === "1"){
                return e; 
            }  
        });
         let now = new Date(); 
        /*循环*/
        let sho = [];
        if(colors.length>0){
            colors.each((i,e)=>{   //循环颜色
                let colorname = ($(e).find("td:first").find("input").val());
                if(ccs.length > 0){  //如果尺寸也选中了
                    ccs.each((i1,e1)=>{   //循环尺寸
                    	let txNumber = now.getFullYear().toString()+(now.getMonth()+1).toString()+now.getDate().toString() + (Math.round(Math.random()*899999999999-100000000000)).toString();
                    	let ccname = $(e1).text();    
                        			console.log("不輸出就不改vue变量")
                        			sho.push({scolor:colorname,scc:ccname,snum:0,snumbe:txNumber});
                        		
                    })
                }else{
               	 	let txNumber = now.getFullYear().toString()+(now.getMonth()+1).toString()+now.getDate().toString() + (Math.round(Math.random()*899999999999-100000000000)).toString();
                    		console.log("不輸出就不改vue变量")
                    		sho.push({scolor:colorname,snum:0,snumbe:txNumber});
                }
            })
        }else{ 
        	if(ccs.length > 0){  
        		ccs.each((i1,e1)=>{
                    let ccname = $(e1).text();
                    let txNumber = now.getFullYear().toString()+(now.getMonth()+1).toString()+now.getDate().toString() + (Math.round(Math.random()*899999999999-100000000000)).toString();
                    			console.log("不輸出就不改vue变量");
                    			sho.push({scc:ccname,snum:0,snumbe:txNumber});
                    		
        		})
        		
           	 	
            } 
        }  
        
       
        let newsho =[];  //存储原有数组
        shoploadVue.shop.shopd.forEach(ee=>{   //更新原有数据 
        	sho.forEach((i,e)=>{
        		if(ee.scolor == i.scolor && ee.scc == i.scc){ 
        			newsho.push(ee);
        			sho.splice(e,1);  //同时删除新数据中的旧数据 
        		}
        	})
    	});
        shoploadVue.shop.shopd = newsho.concat(sho);  //赋值旧数据  + 新数据  
    }
    /*创建富文本编辑器*/
    var E = window.wangEditor;
    var editor = new E('#editwang');
    editor.create();
    var urls = ""; 
    /* 预览图片 */
    $(".uploadimg").change(function(e) {
    	/* 先进行图片的上传 */
		var formData = new FormData();
		var files = $(".uploadimg")[0].files;
		for(var i=0;i<files.length;i++){
			formData.append("files",files[i]);
		} 
		$.ajax({
			url:"/uploadsimg",
			data:formData, 
			type:"post", 
			processData:false,
			contentType:false,
			success:function(result){
				shoploadVue.imgs.push(result); 
			}
		});
           
   });
   
    
    $('#img_x li').eq(0).css('border', '2px solid coral');
    $('#zhezhao').mousemove(function(e){
        $('#img_u').show();
        $('#magnifier').show();
        var left = e.offsetX - parseInt($('#magnifier').width()) / 2;
        var top = e.offsetY - parseInt($('#magnifier').height()) / 2;
        left = left < 0 ? 0 : left;
        left = left > (parseInt($('#zhezhao').outerWidth()) - parseInt($('#magnifier').outerWidth())) ? (parseInt($('#zhezhao').outerWidth()) - parseInt($('#magnifier').outerWidth())) : left;
        top = top < 0 ? 0 : top;
        top = top > (parseInt($('#zhezhao').outerHeight()) - parseInt($('#magnifier').outerHeight())) ? (parseInt($('#zhezhao').outerHeight()) - parseInt($('#magnifier').outerHeight())) : top;

        $('#magnifier').css('left', left + 'px');
        $('#magnifier').css('top', top + 'px');

        var leftRate = left / parseInt($('#zhezhao').outerWidth());
        var bigLeft = leftRate * parseInt($('#img_u img').outerWidth());
        $('#img_u img').css('margin-left', -bigLeft + 'px');

        var topRate = top / parseInt($('#zhezhao').outerHeight());
        var bigTop =  topRate * parseInt($('#img_u img').outerHeight());
        $('#img_u img').css('margin-top', -bigTop + 'px');
    })
    $('#zhezhao').mouseleave(function(){
        $('#img_u').hide();
        $('#magnifier').hide();
    })

  
    function mouse(th){
    	$(th).css('border', '2px solid coral').siblings().css('border', '2px solid transparent');
        $('#mediumContainer img').eq(0).attr('src',$(th).find("img").attr("src"));
        $('#img_u img').eq(0).attr('src', $(th).find("img").attr("src"));
    }
    
    $("#colorstable").hide();
    $(".listcolor .checkbox ").change(function () {
        $("#colorstable").show();
        let cname  = $(this).next().children().text().trim();
        let cgg = $(this).parent().attr("c");
        let c = $(this).parent().attr("c");
        let index = $("#colorstable tr:last>td:first>span:first").text();
            index = parseInt(index) + 1  ;
            if(isNaN(index)){
                index = 1; 
            }
        let tr = $(`<tr >
                        <td>
                            <span style="width: 25px;">${index}</span>
                            <span class="color_object ${cgg}" style=""></span>
                            <input type="text" class="fl srys" placeholder="请输入颜色" value="${cname}" onchange="changeTable()" style="">
                            <a href="javascript:;" class ="clo" style="" color = "${c}" onclick="clo(this)">X</a>
                        </td>
                        
                </tr>`);
        /* <td>
        <div class="uploadimgxxx" style="">
            <input class="imageInputText fl" type="text" disabled>
            <a href="javascript:;" class="fl btn btn-default" style="margin-left: 5px;">上传图片</a>
            <input type="file" class="fimg" style="">
        </div>
    </td> */
        $("#colorstable tbody").append(tr);
        changeTable();
    });
    
    $(".addColorBtn").click(function () {
        /*添加颜色*/
        $("#colorstable").show();
        let tr = $(`<tr >
                        <td>
                            <span style="width: 25px;">1</span>
                            <span class="color_object" style="background: #fff;"></span>
                            <input type="text" class="fl srys" placeholder="请输入颜色" onchange="changeTable()" style="">
                            <a href="javascript:;" class ="clo"  onclick="clo(this)" style="">X</a>
                        </td>
                        
                </tr>`);
        $("#colorstable tbody").append(tr);
        changeTable();
    });
   
    
</script>
</body>
</html>