<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/shop_managerment.css">
</head>
<body>
<div class="rightarea clearfix" id="contents">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">商品管理</span>
            <div class="searchArea">
                <div class="btn-div">
                    <span onclick="addshop_management()"  class="btn btn-success">
                        商品上传
                    </span>
                </div>
            </div>
            <div class="list">
                <a href="javascript:;" class="btn btn-default" @click="dcsp">导出商品</a>
                <span class="btn btn-default"  data-target="#tanchuan"  data-toggle="modal" onclick="ue()">
                    批量导入
                </span>
            </div>
            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找"  id="nbcx">
                <a href="javascript:;" class="search-btn" @click="getPage(1)"></a>
            </div>
            <div class="list">
                <select name="" id="type" class="form-control">
                     <option value="0">请选择商品类型</option>
                	<template v-for="type in types">  
                    	<option :value="type.goodid">{{type.goodname}}</option>
                    </template>  
                </select>
            </div>
            <div class="list">
                <select name="" id="store" class="form-control">
                    <template v-for="store in stores">
                        <option :value="store.id">{{store.jcname}}</option>
                    </template>
                </select>
            </div>
        </div> 
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                <tr>
                    <th width="4%">选择</th>
                    <th width="4%">序号</th>
                    <th width="10%">类别</th>
                    <th width="*">品名</th>
                    <th width="10%">货号/条码</th>
                    <th width="10%">规格</th>
                    <th width="9%">库存</th>
                    <th width="9%">销售价</th>
                    <th width="9%">成本价</th>
                    <th width="6%">网店同步</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody id="tb">
                    <tr v-for="shop,index in page.list">
                        <td>
                            <input type="checkbox" v-model="shop.checked">
                        </td>
                        <td>
                            {{index+1}}
                        </td> 
                        <td>
                            {{shop.good.goodname}}
                        </td>	
                        <td class="nametd">
                            <div class="namediv">
                                <img :src="shop.goodimg"  alt="图片" style="width: 30px;height: 30px;">
                                <p>{{shop.sname}}</p>
                            </div>
                        </td>
                        <td>{{shop.shh}}</td>
                        <td>
                        	-
                        </td>
                        <td>{{shop.kc}}</td>
                        <td>{{shop.sdpprice}}</td>
                       <td>{{shop.scbprice}}</td>
                        <td>-</td>
                        <td>
                            <a @click="del(shop.sid)" href="javascript:;">删除</a>
                            <span @click="editshop_management(shop.sid)" class="tb">编辑</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pageMenu">
			<span v-on:click="getPage(page.prePage)">上一页</span>
			<span v-for="numPage in page.pages">
				<span v-on:click="getPage(numPage)">{{numPage}}</span>
			</span>
			<span v-on:click="getPage(page.nextPage)">下一页</span>
			
		</div>
        </div>
    </div>
</div>
<script type="text/javascript">
var provue=new Vue({
	el:"#contents",
	data:{
		page:{
			list:[]
		},
		types:[],
        dp:[],
        stores:[]
	},
	methods:{
		 del:function(sid){
			 	if(confirm("您确定要删除当前商品吗？")){
			 		$.ajax({
						url:"/deleteproducinfo",
						data:{sid:sid},
						success:function(result){
								provue.getPage();
						}
					});
			 	}
			},
		getPage:function(currentPage){
			let goodid = $("#type").val();  
			let  sname = $("#nbcx").val();
			let storeid = $("#store").val();
			$.ajax({
				url:"/getshops",
				type:"post",
				data:{pagenum:currentPage,goodid:goodid,sname:sname,storeid:storeid},
				success:function(result){
					provue.page = result;
				}
			});
		},getType:function(){ 
			$.post("/getgType",{},function(res){
				provue.types = res;
			});
		},editshop_management:function(sid){
	        $(".modal-content").attr("sid",sid);
			go("shops","shop_upload");
		},dcsp:function () {
            window.location.href="/exportExcelsp";
        },getstroe:function () {
            $.ajax({
                url:"/getstore",
                type:'post',
                success:function (res) {
                    provue.stores = res;
                }
            })
        }
	},
	created:function(){
		this.getType();  
		this.getPage();
		this.getstroe();
	}
});
    function addshop_management() {
        $(".modal-content").attr("stoid",$("#store").val());
        go("shops","shop_upload");
    }
    function ue() {
        $(".modal-content").load("model/uploadExcel.html");
        console.log($(".modal-content"));
    }
    
    
   
    
  
</script>
</body>
</html>