<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/store_management.css">

</head>
<body>
        <div class="rightarea clearfix" id="storecontents">
            <div class="mainarea clearfix">
                <div class="user_list_main clearfix">
                    <div class="user_list_body clearfix">
                        <div class="sub_title">门店列表</div>
                        <div class="btn btn-warning" onclick="addstore()" style="float: right;position: relative;top: -23px;">添加门店</div>
                        <table class="clearfix settable">
                            <thead>
                                <tr>
                                    <th width="4%">序号</th>
                                    <th width="14%">账号</th>
                                    <th width="14%">店名</th>
                                    <th width="5%">员工</th>
                                    <th width="10%">联系人</th>
                                    <th width="10%">手机</th>
                                    <th width="10%">电话</th>
                                    <th width="*">地址</th>
                                    <th width="8%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr v-for="stu,index in page.list">
                                    <td>{{index+1}}</td>
                                    <td>{{stu.card}}</td>
                                   	<td>{{stu.storename}}</td>
                                    <td>{{stu.staffcount}}</td>
                                    <td>{{stu.people}}</td>
                                    <td>{{stu.phone}}</td>
                                    <td>{{stu.telephone}}</td>
                                    <td>{{stu.ditem}}</td>
                                    <td>
                                        <span @click="editfcade(stu.id)">编辑</span>
                                         <span @click="del(stu.id)">删除</span>
                                    </td>
                                   
                                </tr>
                            </tbody>
                        </table>
                        <p class="prompt">注：可添加多家门店，系统自动分配订单到附近门店。</p>
                    </div>
                     <div class="pageMenu">
			<span v-on:click="getPage(page.prePage)">上一页</span>
			<span v-for="numPage in page.pages">
				<span v-on:click="getPage(numPage)">{{numPage}}</span>
			</span>
			<span v-on:click="getPage(page.nextPage)">下一页</span>
			
		</div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        var storevue=new Vue({
        	el:"#storecontents",
        	data:{
        		page:{
        			list:[]
        		}
        	},
        	methods:{
        		 del:function(id,index){
     				$.ajax({
     					url:"/deletestore",
     					data:"id="+id,
     					success:function(result){
     						go("stores","store_management");
     					}
     				});
     			},
        		getPage:function(currentPage){
        			$.ajax({
        				url:"/storequeryAll",
        				data:{pageNum:currentPage,pageSize:4},
        				success:function(result){
        					storevue.page=result;
        				}
        			});
        		},
        		editfcade:function(id){
        			$(".modal-content").attr("id",id); 
        			 go("stores","addfcade");
        		}
        	},
        	created:function(){
        		this.getPage(1);
        	}
        });
        function editfcade(){
            go("stores","addfcade");
        }
        function addstore() {
            go("stores","editfcade");
        }		
        </script>
</body>
</html>