<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/supplier.css">

</head>
<body>
<div class="rightarea clearfix">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">供应商</span>
            <div class="searchArea">
                <div class="btn-div">
                    <span onclick="addsupplier()" data-target="#tanchuan"  data-toggle="modal" class="btn btn-success">
                        添加供应商
                    </span>
                </div>
            </div>

            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找">
                <a href="javascript:;" class="search-btn"></a>
            </div>
            <div class="list">
                <select name="" id="" class="form-control">
                    <option value="请选择城市">请选择城市</option>
                </select>
            </div>
            <div class="list">
                -
            </div>
            <div class="list">
                <select name="" id="" class="form-control">
                    <option value="请选择省份">请选择省份</option>
                </select>
            </div>

            <div class="list">
                <span style="position: relative;top: 10px;">地&nbsp;&nbsp;&nbsp;&nbsp;区</span>
            </div>
        </div>
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="12%">简称</th>
                    <th width="16%">公司名称</th>
                    <th width="8%">联系人</th>
                    <th width="11%">手机</th>
                    <th width="11%">电话</th>
                    <th width="15%">邮箱</th>
                    <th width="14%">地区</th>
                    <th width="8%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                      1
                    </td>
                    <td>1
                    </td>
                    <td>1
                    </td>
                    <td >1
                    </td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <a href="javascript:;">删除</a>
                        <span onclick="editsupplier()" data-target="#tanchuan"  data-toggle="modal">编辑</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    function addsupplier() {
        $(".modal-content").load("model/addsupplier.html");
    }

    function editsupplier() {
        $(".modal-content").load("model/editsupplier.html");
    }

</script>
</body>
</html>