<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/supplier.css">

</head>
<body>
<div class="rightarea clearfix" id="contents">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">供应商</span>
            <div class="searchArea">
                <div class="btn-div">
                    <span onclick="addsupplier()" data-target="#tanchuan"  data-toggle="modal" class="btn btn-success">
                        添加供应商
                    </span>
                </div>
            </div>

            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找" name="Suname">
                <a href="javascript:;" class="search-btn" @click="getPage()"></a>
            </div>
            
            <div class="list">
                <select id="two" class="form-control">
		        <option value="">--请选择--</option>
		    </select>
            </div>
            <div class="list">
                -
            </div>
            <div class="list">
                <select id="one" onchange="func(this.value)" class="form-control">
			        <option value="">--请选择--</option>
			        <option value="0">浙江省</option>
			        <option value="1">广东省</option>
			        <option value="2">福建省</option>
			        <option value="3">湖南省</option>
			    </select>

            </div>

            <div class="list">
                <span style="position: relative;top: 10px;">地&nbsp;&nbsp;&nbsp;&nbsp;区</span>
            </div>
        </div>
        <div class="mainbody">
            <table class="settable table table-striped">
                <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="12%">简称</th>
                    <th width="16%">公司名称</th>
                    <th width="8%">联系人</th>
                    <th width="11%">手机</th>
                    <th width="11%">电话</th>
                    <th width="15%">邮箱</th>
                    <th width="14%">地区</th>
                    <th width="8%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="stu,index in page.list">
                    <td>
                     {{index+1}}
                    </td>
                    <td>{{stu.sucompany}}
                    </td>
                    <td>{{stu.suname}}
                    </td>
                    <td >{{stu.people}}
                    </td>
                    <td>{{stu.phone}}</td>
                    <td>{{stu.telephone}}</td>
                    <td>{{stu.email}}</td>
                    <td>{{stu.province}}{{stu.city}}{{stu.area}}</td>
                    <td>
                        <a href="" @click="del(stu.suid)">删除</a>
                        <span @click="editsupplier(stu.suid)" data-target="#tanchuan"  data-toggle="modal">编辑</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pageMenu">
			<span v-on:click="getPage(page.prePage)">上一页</span>
			<span v-for="numPage in page.pages">
				<span v-on:click="getPage(numPage)">{{numPage}}</span>
			</span>
			<span v-on:click="getPage(page.nextPage)">下一页</span>
			
		</div>
        </div>
    </div>
</div>
<script type="text/javascript">
var suppvue=new Vue({
	el:"#contents",
	data:{
		page:{
			list:[]
		}
	},
	methods:{
		 del:function(suid,index){
				$.ajax({
					url:"/deletesupplie",
					data:"suid="+suid,
					success:function(result){
							alert("删除成功");
							suppvue.page.splice(index,1);
					}
				});
			},
		getPage:function(currentPage){
			var Suname=$("[name='Suname']").val();
			$.ajax({
				url:"/suppqueryAll",
				data:{pageNum:currentPage,pageSize:7,Suname:Suname},
				success:function(result){
					suppvue.page=result;
				}
			});
		},
		editsupplier:function(suid) {
			 $(".modal-content").attr("suid",suid); 
			 alert(suid);
	        $(".modal-content").load("model/editsupplier.html");
	    }
	},
	created:function(){
		this.getPage(1);
	}
});
		
		var two = document.getElementById('two');
		city = [];//申明
		
		//定义二级数据
		city[0] = ['杭州市'];
		city[1] = ['广州市'];
		city[2] = ['厦门市'];
		city[3] = ['株洲市','长沙市','湘潭市'];
		function func(m){
		    two.length = 1;
		
		//遍历生产option选项
		    for (var i = 0; i < city[m].length; i++) {
		
		//创建一个option 把数据存储在option 
		        var op = new Option(city[m][i],i);
		
		//把带有数据的option 添加到第二个select
		        two.add(op);
		    };
		}

    function addsupplier() {
        $(".modal-content").load("model/addsupplier.html");
    }
/* 
    function editsupplier() {
        $(".modal-content").load("model/editsupplier.html");
    } */

</script>
</body>
</html>